*{
background-color: aquamarine;
font-family: cursive;
font-weight: 1440px;
font-size: 32px;
line-height: 15px;

}

.logo{

    padding-top: 30px;
    margin-left: 30px;
    width: 100px;
    
}
