*{
   
    background-color: aquamarine;
    font-family: 'inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

.logo{

    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
    
}

main{

    display: flex;
    margin-bottom: 50%;
    margin-left: 80px;

}
 .text-area {

      border: none;
      color: rgb(15, 17, 17);
      margin-top: 90px;
      text-transform: lowercase;


 }
 ::placeholder { color: #0A3871;}
 .text-area:focus {

    outline: none;
 }

 .mensaje {

    background: white;
    background-image: url(/imagenes/Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    
 }
 .mensaje:focus {
    outline: none;
 }

 .botones {

    display: flex;
    margin-top: 28px;
 }

 .btn-encriptador {

    background-color: darkgreen;
    border: 1px solid rgb(13, 14, 13);
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;


 }
.btn-desencriptar {
    background: #d8d8d8;
    border: 1px solid darkgreen;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.copiar {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    border-radius: 24px;
    color: rgb(241, 248, 241);
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    
}

.informacion {
    color: black;
    font-size: 18px;
    
}